<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.sunplast">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".nevigation"
            android:label="@string/title_activity_nevigation"
            android:windowSoftInputMode="adjustResize|stateVisible|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Layers"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".SignUp"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Product"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Previous_Orders"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Brand"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".confirm"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>